*.class
.project
.classpath
.settings/
target/
bin/
gen/

/platform/j2me/TestGameDemoJ2MEApplicationM/src/
/platform/j2se/TestGameDemoJ2SEApplicationM/src/
/platform/j2se/TestGameDemoJ2SEM/src//main/resources
/platform/j2se/TestGameDemoJ2SEWithSWTApplicationM/src/
/platform/j2se/TestGameDemoJ2SEWithSWTM/src/main/resources
/platform/avian/TestGameDemoAvianApplicationM/src/
/platform/avian/TestGameDemoAvianM/src/main/resources
/platform/android/TestGameDemoAndroidApplicationM/src/main/java/
/platform/html/TestGameDemoHTMLTempM/src
/platform/html/TestGameDemoPlayNM/src/playn/core/GraphicsTestGame.java
/platform/html/TestGameDemoPlayNM/src/playn/core/SoundTestGame.java
/platform/html/TestGameDemoPlayNWarM/war/testgamedemo/
/platform/android/TestGameDemoAndroidApplicationM/src/main/java/
/platform/android/TestGameDemoAndroidApplicationM/src/main/res/drawable/
/platform/android/TestGameDemoAndroidApplicationM/src/main/res/raw/
/platform/android/TestGameDemoAndroidApplicationNoLicensingGradle/app/src/main/java/
/platform/android/TestGameDemoAndroidApplicationNoLicensingGradle/app/src/main/res/drawable/
/platform/android/TestGameDemoAndroidApplicationNoLicensingGradle/app/src/main/res/raw/
/platform/android/TestGameDemoThreedAndroidApplicationM/src/main/java/
/platform/android/TestGameDemoThreedAndroidApplicationM/src/main/res/drawable/
/platform/android/TestGameDemoThreedAndroidApplicationM/src/main/res/raw/
